@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<MainLayout> L

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <div class="main">
        <div class="top-row px-4 auth">
            <CultureSelector />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<Modal @ref="modalInstallRef">
    <ModalContent Size="ModalSize.Default" Centered="true">
        <ModalHeader>
            <ModalTitle>
                @L["InstallPWA"]
            </ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Text>@L["InstallPWAInfo"]</Text>
        </ModalBody>
        <ModalFooter>
            <Button Size="Size.Small" Color="Color.Secondary" Clicked="@(() => HideInstallModal(false))">@L["Close"]</Button>
            <Button Size="Size.Small" Color="Color.Success" Clicked="@(() => HideInstallModal(true))">@L["Approve"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code{
    private static Action action;
    private Modal modalInstallRef;

    protected override void OnInitialized()
    {
        action = ShowIntallModal;
    }

    [JSInvokable]
    public static Task BlazorInstallHandler()
    {
        action.Invoke();
        return Task.CompletedTask;
    }

    public void ShowIntallModal()
    {
        modalInstallRef.Show();
    }
    private async Task HideInstallModal(bool choice){
        if (choice)
        {
            await JSRuntime.InvokeVoidAsync("BlazorPWA.installPWA");
        }
        modalInstallRef.Hide();
    }
}