@page "/associations"
@inject HttpClientService Client
@inject IStringLocalizer<Associations> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["Associations"]</Heading>
<Button Size="Size.Small" Color="Color.Primary" Type="ButtonType.Link" To="@($"associations/new")"><Icon Name="IconName.PlusSquare" /> @L["NewAssociation"]</Button>
<Divider />
<Table Striped="true" Hoverable="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>@L["Name"]</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var association in associations)
        {
            <TableRow>
                <TableRowHeader>@association.Name</TableRowHeader>
                <TableRowCell>
                    <Button Size="Size.Small" Color="Color.Secondary" Type="ButtonType.Link" To="@($"associations/edit/{association.AssociationId}")"><Icon Name="IconName.Pen" /></Button>
                    <Button Size="Size.Small" Color="Color.Primary" Type="ButtonType.Link" To="@($"associations/{association.AssociationId}")"><Icon Name="IconName.Search" /></Button>
                </TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code {
    IList<AssociationContract> associations = new List<AssociationContract>();

    protected override async Task OnInitializedAsync()
    {
        associations = await Client.PostAsync<IList<AssociationContract>>("api/Association/FetchAllAssociations", null);

        await base.OnInitializedAsync();
    }

}