@page "/places/{id}/manage/bay/new"
@inherits SemperPrecisBaseMainComponent
@inject IStringLocalizer<BayNew> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">
    <Button Class="me-1" Color="Color.Primary" Size="Size.Small" Type="ButtonType.Link" To="@(RouteHelper.GetUrl<PlaceManage>(new{id = Id}))"><Icon Name="IconName.ArrowLeft" /></Button>
    @L["NewBay"]</Heading>
<Divider />
<AuthorizeView Roles="@(PermissionCtor.ManagePlaces.EditPlace.ToString())" Resource="@Id">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <BayComponent Model="model" SubmitCallback="Submit"></BayComponent>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    BayContract model = new();

    async Task Submit()
    {
        // create request
        var request = new BayCreateRequest()
        {
            Name = model.Name,
            Description = model.Description
        };

        var response = await Post<AssociationContract>($"/api/v2/places/{Id}/Bays", request);
        if (response != null)
            UriHelper.NavigateTo(RouteHelper.GetUrl<PlaceManage>(new { id = Id }));
    }
}
