@page "/matches/new"
@inherits SemperPrecisBaseComponent
@inject IStringLocalizer<MatchNew> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["NewMatch"]</Heading>
<NavLink href="@(RouteHelper.GetUrl<Matches>())">@L["BackToList"]</NavLink>
<Divider />
<AuthorizeView Roles="@(PermissionCtor.ManageMatches.CreateMatches.ToString())">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <MatchComponent Model="model" Associations="associations" Places="places" SubmitCallback="Submit"></MatchComponent>
    </Authorized>
</AuthorizeView>
@code {

    Validations validations;
    MatchContract model = new();
    IList<AssociationContract> associations = new List<AssociationContract>();
    IList<PlaceContract> places = new List<PlaceContract>();

    protected override async Task OnInitializedAsync()
    {
        if (!AuthService.CheckPermissions(PermissionCtor.ManageMatches.CreateMatches))
        {
            await base.OnInitializedAsync();
            return;
        }
        associations = await Post<IList<AssociationContract>>("api/Association/FetchAllAssociations", null);
        places = await Post<IList<PlaceContract>>("api/Place/FetchAllPlaces", null);

        await base.OnInitializedAsync();
    }
    
    async Task Submit()
    {
    // create request
        var request = new MatchCreateRequest()
        {
            Name = model.Name,
            MatchDateTimeStart = model.MatchDateTimeStart,
            MatchDateTimeEnd = model.MatchDateTimeEnd,
            PlaceId = model.Place.PlaceId,
            AssociationId = model.Association.AssociationId,
            OpenMatch = model.OpenMatch,
            UnifyClassifications = model.UnifyClassifications,
            Cost = model.Cost,
            Kind= model.Kind,
            PaymentDetails = model.PaymentDetails
        };
        var response = await Post<MatchContract>("/api/Match/CreateMatch", request);
        if (response != null)
        UriHelper.NavigateTo(RouteHelper.GetUrl<MatchDetail>(new { id = response.MatchId }));
    }
}
