@page "/matches/new"
@inherits SemperPrecisBaseComponent<MatchContract>
@inject IStringLocalizer<MatchNew> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["NewMatch"]</Heading>
<NavLink href="@(RouteHelper.GetUrl<Matches>())">@L["BackToList"]</NavLink>
<Divider />
<AuthorizeView Roles="@(PermissionCtor.ManageMatches.CreateMatches.ToString())">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <MatchComponent Model="Model" Associations="associations" Teams="teams" Places="places" SubmitCallback="Submit"></MatchComponent>
    </Authorized>
</AuthorizeView>
@code {
    IList<AssociationContract> associations = new List<AssociationContract>();
    IList<TeamContract> teams = new List<TeamContract>();
    IList<PlaceContract> places = new List<PlaceContract>();

    protected override async Task OnInitializedAsync()
    {
        if (!AuthService.CheckPermissions(PermissionCtor.ManageMatches.CreateMatches))
        {
            await base.OnInitializedAsync();
            return;
        }
        teams = await Post<List<TeamContract>>("api/Team/FetchAllTeams");
        associations = await Post<List<AssociationContract>>("api/Association/FetchAllAssociations");
        places = await Post<List<PlaceContract>>("api/Place/FetchAllPlaces");

        await base.OnInitializedAsync();
    }
    
    async Task Submit()
    {
    // create request
        var request = new MatchCreateRequest()
        {
            Name = Model.Name,
            MatchDateTimeStart = Model.MatchDateTimeStart,
            MatchDateTimeEnd = Model.MatchDateTimeEnd,
            PlaceId = Model.Place.PlaceId,
            AssociationId = Model.Association.AssociationId,
            TeamId = Model.Team.TeamId,
            OpenMatch = Model.OpenMatch,
            UnifyClassifications = Model.UnifyClassifications,
            Cost = Model.Cost,
            Kind= Model.Kind,
            PaymentDetails = Model.PaymentDetails
        };
        var response = await Post<MatchContract>("/api/Match/CreateMatch", request);
        if (response != null)
        UriHelper.NavigateTo(RouteHelper.GetUrl<MatchDetail>(new { id = response.MatchId }));
    }
}
