@page "/shooters/new"
@inherits SemperPrecisBaseMainComponent
@inject IStringLocalizer<ShooterNew> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["NewShooter"]</Heading>
<NavLink href="@(RouteHelper.GetUrl<Shooters>())">@L["BackToList"]</NavLink>
<Divider />
<AuthorizeView Roles="@(PermissionCtor.ManageUsers.CreateUser.ToString())">
    <Authorizing>
        <h3 class="mt-5">@L["Loading"]</h3>
    </Authorizing>
    <NotAuthorized>
        <h3 class="mt-5">@L["NoAuth"]</h3>
    </NotAuthorized>
    <Authorized>
        <ShooterComponent Model="model" SubmitCallback="Submit"></ShooterComponent>
    </Authorized>
</AuthorizeView>
@code {

    UserContract model = new();

    async Task Submit()
    {
        // create request
        var request = ContractUtils.Convert(model);

        var response = await Post<UserContract>("/api/Shooter/CreateShooter", request);
        if (response != null)
            UriHelper.NavigateTo(RouteHelper.GetUrl<ShooterDetail>(new { id = response.UserId }));
    }
}
