@inherits SemperPrecisBasePresentationalValidationComponent<StageContract>
@inject IStringLocalizer<StageComponent> L

<Validations @ref="validations" Mode="ValidationMode.Manual" Model="@Model">
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Name"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <TextEdit Placeholder="@L["Name"]" @bind-Text="@Model.Name">
                    <Feedback>
                        <ValidationError>@L["WrongName"]</ValidationError>
                    </Feedback>
                </TextEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.IsNotEmpty">
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Description"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <TextEdit Placeholder="@L["Description"]" @bind-Text="@Model.Description">
                    <Feedback>
                        <ValidationError>@L["WrongDescription"]</ValidationError>
                    </Feedback>
                </TextEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.None">
        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Index"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <NumericEdit Placeholder="@L["Index"]" TValue="int" @bind-Value="@Model.Index">
                    <Feedback>
                        <ValidationError>@L["WrongIndex"]</ValidationError>
                    </Feedback>
                </NumericEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.None">
        <Field>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Scenario"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <MemoEdit Rows="5" Placeholder="@L["Scenario"]" @bind-Text="@Model.Scenario">
                    <Feedback>
                        <ValidationError>@L["WrongScenario"]</ValidationError>
                    </Feedback>
                </MemoEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.None">
        <Field>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["GunReadyCondition"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <MemoEdit Rows="3" Placeholder="@L["GunReadyCondition"]" @bind-Text="@Model.GunReadyCondition">
                    <Feedback>
                        <ValidationError>@L["WrongGunReadyCondition"]</ValidationError>
                    </Feedback>
                </MemoEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.None">
        <Field>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["StageProcedure"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <MemoEdit Rows="5" Placeholder="@L["StageProcedure"]" @bind-Text="@Model.StageProcedure">
                    <Feedback>
                        <ValidationError>@L["WrongStageProcedure"]</ValidationError>
                    </Feedback>
                </MemoEdit>
            </FieldBody>
        </Field>
    </Validation>
    <Validation Validator="@ValidationRule.None">
        <Field>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Notes"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <MemoEdit Rows="2" Placeholder="@L["Notes"]" @bind-Text="@Model.StageProcedureNotes">
                    <Feedback>
                        <ValidationError>@L["WrongNotes"]</ValidationError>
                    </Feedback>
                </MemoEdit>
            </FieldBody>
        </Field>
    </Validation>

    <Validation Validator="@ValidationRule.None">
        <Field>
            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Rules"]</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                <TextEdit Placeholder="@L["Rules"]" @bind-Text="@Model.Rules">
                    <Feedback>
                        <ValidationError>@L["WrongRules"]</ValidationError>
                    </Feedback>
                </TextEdit>
            </FieldBody>
        </Field>
    </Validation>
    
    <Button Size="Size.Small" Color="Color.Primary" Clicked="@AddString">@L["AddString"]</Button>
    <Tabs RenderMode="TabsRenderMode.LazyLoad" SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            @foreach (var stageString in Model.Strings)
            {
                <Tab Name="@stageString.Name">@stageString.Name</Tab>
            }
        </Items>
        <Content>
            <Virtualize Items="@Model.Strings" Context="stageString">
                <TabPanel Name="@stageString.Name">
                    <Validation Validator="@ValidationRule.None">
                        <Field Horizontal="true">
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Targets"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <NumericEdit Placeholder="@L["Targets"]" TValue="int" @bind-Value="@stageString.Targets">
                                    <Feedback>
                                        <ValidationError>@L["WrongTargets"]</ValidationError>
                                    </Feedback>
                                </NumericEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Scoring"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["Scoring"]" @bind-Text="@stageString.Scoring">
                                    <Feedback>
                                        <ValidationError>@L["WrongScoring"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["TargetsDescription"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["TargetsDescription"]" @bind-Text="@stageString.TargetsDescription">
                                    <Feedback>
                                        <ValidationError>@L["WrongTargetsDescription"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["ScoredHits"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["ScoredHits"]" @bind-Text="@stageString.ScoredHits">
                                    <Feedback>
                                        <ValidationError>@L["WrongScoredHits"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["StartStop"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["StartStop"]" @bind-Text="@stageString.StartStop">
                                    <Feedback>
                                        <ValidationError>@L["WrongStartStop"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["Distance"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["Distance"]" @bind-Text="@stageString.Distance">
                                    <Feedback>
                                        <ValidationError>@L["WrongDistance"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">@L["MuzzleSafePlane"]</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <TextEdit Placeholder="@L["MuzzleSafePlane"]" @bind-Text="@stageString.MuzzleSafePlane">
                                    <Feedback>
                                        <ValidationError>@L["WrongMuzzleSafePlane"]</ValidationError>
                                    </Feedback>
                                </TextEdit>
                            </FieldBody>
                        </Field>
                    </Validation>
                    <Validation Validator="@ValidationRule.None">
                        <Field>
                            <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">&nbsp;</FieldLabel>
                            <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is10.OnDesktop">
                                <Check TValue="bool" @bind-Checked="@stageString.CoverGarment">@L["CoverGarment"]</Check>
                            </FieldBody>
                        </Field>
                    </Validation>
                    @if (Model.Strings.Count > 0)
                    {
                        <Button Size="Size.Small" Color="Color.Primary" Clicked="@(()=>DeleteString(stageString))">@L["DeleteString"]</Button>
                    }
                </TabPanel>
            </Virtualize>
        </Content>
    </Tabs>

    <Field Horizontal="true" JustifyContent="JustifyContent.End">
        <FieldBody ColumnSize="ColumnSize.Is10.Is2.WithOffset">
            <Button Size="Size.Small" Color="Color.Primary" Clicked="@Submit" Loading="ApiLoading" Disabled="ApiLoading">
                <LoadingTemplate><Icon Name="FontAwesomeIcons.AnimationSpinner" />&nbsp;@L["Submit"]</LoadingTemplate>
                <ChildContent>@L["Submit"]</ChildContent>
            </Button>
        </FieldBody>
    </Field>
</Validations>

@code {
    string selectedTab = "String 1";

    private StageContract _model = new();

    public override StageContract Model
    {
        get => _model;
        set
        {
            _model = value;
            if (_model.Strings.Count == 0)
            {
                _model.Strings.Add(new StageStringContract()
                {
                    Name = "String 1"
                });
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Model.Strings.Count == 0)
        {
            Model.Strings.Add(new StageStringContract()
            {
                Name = "String 1"
            });
        }
        await base.OnInitializedAsync();
    }

    private Task OnSelectedTabChanged( string name )
    {
        selectedTab = name;

        return Task.CompletedTask;
    }

    void AddString()
    {
        for(int x = 0; x < Model.Strings.Count; x++)
        {
            var tmpStringName = $"String {x + 1}";
            if(Model.Strings[x].Name != tmpStringName)
            {
                var s = new StageStringContract()
                    {
                        Name = tmpStringName
                    };
                Model.Strings.Insert(x, s);
                return;
            }
        }
        var stringName = $"String {Model.Strings.Count + 1}";
        Model.Strings.Add(new StageStringContract()
        {
            Name= stringName
        });
        if (string.IsNullOrEmpty(selectedTab))
        {
            selectedTab = stringName;
        }
    }

    void DeleteString(StageStringContract stageStageString)
    {
        selectedTab = Model.Strings.FirstOrDefault(x=>x.Name!= stageStageString.Name)?.Name ?? string.Empty;
        Model.Strings.Remove(stageStageString);
    }
}