@inherits SemperPrecisBasePresentationalComponent
@inject IStringLocalizer<SemperPrecisBasePresentationalComponent> L

<Card Margin="Margin.Is4.OnY">
    <CardBody>
        <CardTitle>@L["Shooters"]</CardTitle>
        <Table Striped="true" Hoverable="true">
            <TableHeader ThemeContrast="ThemeContrast.Dark">
                <TableRow>
                    <TableHeaderCell>@L["Name"]</TableHeaderCell>
                    <TableHeaderCell>@L["Birthdate"]</TableHeaderCell>
                    <TableHeaderCell>@L["RegistrationDate"]</TableHeaderCell>
                    <TableHeaderCell></TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @if (TeamShooters.Count(x => x.UserApprove && x.TeamApprove) > 0)
                {
                    <Virtualize Items="@TeamShooters" Context="shooterTeam">
                        <TableRow>
                            <TableRowHeader>
                                @if (CanEditTeamShooters && shooterTeam.User.HasWarning)
                        {
                            <Icon Name="FontAwesomeIcons.ExclamationTriangle" TextColor="TextColor.Danger" class="me-2" />
                        }
                        @shooterTeam.User.CompleteName
                    </TableRowHeader>
                    <TableRowCell>@shooterTeam.User.BirthDate.ToString("d")</TableRowCell>
                    <TableRowCell>@shooterTeam.RegistrationDate.ToString("d")</TableRowCell>
                    <TableRowCell Class="text-end">

                        <Buttons Role="ButtonsRole.Toolbar">
                            <Buttons Margin="Margin.Is2.FromEnd">
                                @if (AuthService.CheckPermissions(PermissionCtor.ManageUsers.ShowShooters.EditUser, shooterTeam.User.UserId))
                                {
                                    <Button Size="Size.Small" Color="Color.Primary" Type="ButtonType.Link" To="@(RouteHelper.GetUrl<ShooterDetail>(new { id = shooterTeam.User.UserId }))"><Icon Name="IconName.Search" /></Button>
                                    <Button Size="Size.Small" Color="Color.Warning" Type="ButtonType.Button" Clicked="@(() => ResetPassword(shooterTeam))"><Icon Name="IconName.Key" /> </Button>

                                }
                                @if (CanEditTeamShooterPayment)
                                {
                                    <Button Size="Size.Small" Color="Color.Info" Type="ButtonType.Link" To="@(RouteHelper.GetUrl<ShooterTeamPayment>(new { id = shooterTeam.User.UserId, teamId = Team.TeamId }))"><Icon Name="IconName.DollarSign" /></Button>
                                }
                            </Buttons>
                            <Buttons>
                                @if (CanEditTeamShooters)
                                {
                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="@(() => DeleteShooter(shooterTeam))"><Icon Name="IconName.Delete" /></Button>
                                }
                            </Buttons>
                        </Buttons>

                    </TableRowCell>
                </TableRow>
            </Virtualize>
                }
                else
                {
                    <TableRow>
                        <TableRowCell ColumnSpan="4" TextAlignment="TextAlignment.Center">
                            @L["NoShooters"]
                        </TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>

    </CardBody>
</Card>
<Modal @ref="modalRefShooterToDelete">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["DeleteShooter"]</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["ConfirmDelete"]</FieldLabel>
            </Field>
            @if (shooterToDelete.User != null)
            {
                <Field>
                    <FieldLabel>@L["Name"]</FieldLabel>
                    <Text>@shooterToDelete.User.CompleteName</Text>
                </Field>
                <Field>
                    <FieldLabel>@L["BirthDate"]</FieldLabel>
                    <Text>@shooterToDelete.User.BirthDate.ToString("d")</Text>
                </Field>
            }
            <Field>
                <FieldLabel>@L["RegistrationDate"]</FieldLabel>
                <Text>@shooterToDelete.RegistrationDate.ToString("d")</Text>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Size="Size.Small" Color="Color.Secondary" Clicked="@(() => HideModalShooterToDelete(false))">@L["Close"]</Button>
            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => HideModalShooterToDelete(true))">@L["Yes"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
<Modal @ref="modalRefResetPassword">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>@L["ResetPassword"]</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>@L["ConfirmResetPassword"]</FieldLabel>
            </Field>
            @if (shooterToReset != null)
            {
                <Field>
                    <FieldLabel>@L["Name"]</FieldLabel>
                    <Text>@shooterToReset.User.CompleteName</Text>
                </Field>
                <Field>
                    <FieldLabel>@L["Username"]</FieldLabel>
                    <Text>@shooterToReset.User.Username</Text>
                </Field>
                <Field>
                    <FieldLabel>@L["BirthDate"]</FieldLabel>
                    <Text>@shooterToReset.User.BirthDate.ToString("d")</Text>
                </Field>
            }
        </ModalBody>
        <ModalFooter>
            <Button Size="Size.Small" Color="Color.Secondary" Clicked="@(() => HideModalResetPassword(false))">@L["Close"]</Button>
            <Button Size="Size.Small" Color="Color.Primary" Clicked="@(() => HideModalResetPassword(true))">@L["Yes"]</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    [Parameter, EditorRequired]
    public virtual TeamContract Team { get; set; } = new();

    [Parameter, EditorRequired]
    public virtual bool CanEditTeamShooterPayment { get; set; }
    
    [Parameter, EditorRequired]
    public virtual bool CanEditTeamShooters { get; set; }
    
    [Parameter, EditorRequired]
    public virtual IList<UserTeamContract> TeamShooters { get; set; } = new List<UserTeamContract>();
    
    [Parameter, EditorRequired]
    public EventCallback<ShooterRequest> ResetPasswordCallback { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<ShooterTeamDeleteRequest> DeleteShooterTeamCallback { get; set; }

    private Modal modalRefShooterToDelete = default!;
    UserTeamContract shooterToDelete = new();
    private Modal modalRefResetPassword = default!;
    UserTeamContract shooterToReset = new();

    void ValidateDate(ValidatorEventArgs e)
    {
        var date = e.Value as DateTime?;

        if (date == null)
        {
            e.Status = ValidationStatus.Error;
        }
        else if (date <= new DateTime(1980, 1, 1))
        {
            e.Status = ValidationStatus.Error;
            e.ErrorText = L["WrongRegistrationDate"];
        }
        else
        {
            e.Status = ValidationStatus.Success;
        }
    }

    void ResetPassword(UserTeamContract shooter)
    {
        shooterToReset = shooter;

        modalRefResetPassword.Show();
    }

    private async Task HideModalResetPassword(bool choice)
    {
        if (choice && shooterToReset != null)
        {
            await ResetPasswordCallback.InvokeAsync(new ShooterRequest
                {
                    ShooterId = shooterToReset.User.UserId
                });
        }
        shooterToReset = new();
        await modalRefResetPassword.Hide();
    }
    async Task DeleteShooter(UserTeamContract shooter)
    {
        shooterToDelete = shooter;
        await modalRefShooterToDelete.Show();
    }

    private async Task HideModalShooterToDelete(bool choice)
    {
        if (choice && shooterToDelete.Team != null)
        {
            await DeleteShooterTeamCallback.InvokeAsync(new ShooterTeamDeleteRequest
                {
                    ShooterId = shooterToDelete.User.UserId,
                    TeamId = Team.TeamId
                });
        }
        shooterToDelete = new UserTeamContract();
        await modalRefShooterToDelete.Hide();
    }
}
