@page "/app/shooters"
@inherits SemperPrecisBaseComponent
@inject IStringLocalizer<Shooters> L
@inject NavigationManager UriHelper

<Heading Size="HeadingSize.Is1">@L["Shooters"]</Heading>
<Button Size="Size.Small" Color="Color.Primary" Type="ButtonType.Link" to="@(RouteHelper.GetUrl<ShooterNew>())"><Icon Name="IconName.PlusSquare" /> @L["NewShooter"]</Button>
<Divider />
<Table Striped="true" Hoverable="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>@L["Name"]</TableHeaderCell>
            <TableHeaderCell>@L["Username"]</TableHeaderCell>
            <TableHeaderCell>@L["BirthDate"]</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @if (PageLoading)
        {
            <TableRow>
                <TableRowCell ColumnSpan="4" TextAlignment="@TextAlignment.Center"><Icon Name="FontAwesomeIcons.AnimationSpinner2x" /></TableRowCell>
            </TableRow>
        }
        else
        {
            @if (shooters.Count == 0)
            {
                <TableRow>
                    <TableRowCell ColumnSpan="4" TextAlignment="@TextAlignment.Center">@L["NoData"]</TableRowCell>
                </TableRow>
            }
            else
            {
                <Virtualize Items="@shooters" Context="shooter">
                    <TableRow>
                        <TableRowHeader><NavLink href="@(RouteHelper.GetUrl<ShooterDetail>(new { id = shooter.ShooterId}))">@shooter.LastName @shooter.FirstName</NavLink></TableRowHeader>
                        <TableRowCell>@shooter.Username</TableRowCell>
                        <TableRowCell>@shooter.BirthDate.ToString("d")</TableRowCell>
                        <TableRowCell>
                            <Button Size="Size.Small" Color="Color.Secondary" Type="ButtonType.Link" To="@(RouteHelper.GetUrl<ShooterEdit>(new { id = shooter.ShooterId}))"><Icon Name="IconName.Pen" /></Button>
                            <Button Size="Size.Small" Color="Color.Primary" Type="ButtonType.Link" To="@(RouteHelper.GetUrl<ShooterDetail>(new { id = shooter.ShooterId}))"><Icon Name="IconName.Search" /></Button>
                        </TableRowCell>
                    </TableRow>
                </Virtualize>
            }
        }
    </TableBody>
</Table>

@code {
    IList<ShooterContract> shooters = new List<ShooterContract>();

    protected override async Task OnInitializedAsync()
    {
        shooters = await Post<IList<ShooterContract>>("api/Shooter/FetchAllShooters", null);
        await base.OnInitializedAsync();
    }

}